@import '../../variables';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
  align-items: center;
}
.contentWrap {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1125px;
  // overflow-x: hidden;
}
.contentText {
  width: 100%;
  height: inherit;
  max-width: 515px;
}
.contentParallax {
  width: 100%;
}
