@import '../../variables';
@import '../../breakpoints';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  width: 100%;

  @include media('>phone', '<=tablet') {
    height: 62px;
    margin-top: 15px;
  }
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 22px;

  @include media('>phone', '<=tablet') {
    flex-direction: column-reverse;
    height: 50px;
    margin-bottom: 15px;
  }
}
.text {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: $dark;

  @include media('>phone', '<=tablet') {
    margin: 0;

    &:first-of-type {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
    }
  }
}
