@import '../../variables';
@import '../../breakpoints';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  width: 100%;

  @include media('>tablet', '<desktop') {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  @include media('>phone', '<=tablet') {
    padding-bottom: 15px;
    padding-top: 30px;
  }
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 22px;

  @include media('>phone', '<=tablet') {
    flex-direction: column-reverse;
    height: 50px;
    margin-bottom: 15px;
  }
}
.text {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: $dark;

  @include media('>tablet', '<desktop') {
    &:first-of-type {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
    }
  }
  @include media('>phone', '<=tablet') {
    margin: 0;

    &:first-of-type {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
    }
  }
}
.backgroundYellow {
  background: linear-gradient(180deg, #f2b807 0%, #f2b807 100%);
}
