.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.contentWrap {
  margin: 0 auto;
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1125px;
  // overflow-x: hidden;
}
.title {
  margin-top: 70px;
  margin-bottom: 50px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 3px;

  color: #000000;
}
